@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color:rgb(87, 114, 32);
}

li, a, button {

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
}

img {
    width: 100px;
    height: 100px;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style:none;
    
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color:rgb(160, 106, 40)
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

